@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body{
  background: rgb(6, 4, 4);
  color: #000;
}

h1,h4,p,a{
  color: white;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #e21414;
  color: #f2f2f2;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  position:relative;
  background:transparent;
}
.btn-light{
  background: transparent;
  color: #f2f2f2;
}
span{
  height: 100%;
  width: 0;
  background-color: #17121d;
  color: #102012;
  position:absolute;
  z-index:-1;
  left:0;
  bottom:0;
  transition:0.5s;
}
.btn:hover span{
  background:#02376c;
  color:#031b42;
  transition: 0.3s;
  width: 100%;
 

}